# ------
# Common
# ------
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
package-lock.json

# -----------------------
# Local Development Tools
# -----------------------
/node_modules
/npm-debug.log

# ---------------
# Compiled assets
# ---------------
public/*
dist/*
!public/assets
