/**
 * Alignment (utilities/_alignment.scss)
 */

/* ----- Yahoo! Mail alignment fix ----- */
.yahoo-center {
	margin-right: auto;
	margin-left: auto;
}

/* ----- Text alignment ----- */
.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}
