{{#compare items.0.selectedDeliveryChannel '==' null}}
  <div class="bg-light-gray pa3 mw5-5 mb3">
    <!-- partial:address-delivery-info.hbs --><!-- partial -->
  </div>
{{/compare}}

{{#eq items.0.selectedDeliveryChannel "delivery"}}
  <div class="bg-light-gray pa3 mw5-5 mb3">
    <!-- partial:address-delivery-info.hbs --><!-- partial -->
  </div>
{{/eq}}
