<tr>
  <td class="white">
    <div class="w-100 flex-l justify-center tc bg-color-primary-700 pv3">
      <span class="fw7">Dúvidas acesse nossa:</span> <span class="pl2 fw4 underline">Central de
        atendimento</span>
    </div>
    <div class="w-100 flex-l flex-column tc bg-color-picpay">
      <div class="pt24-px pb48-px"><!-- partial:logo-redes-sociais.hbs --><!-- partial --></div>
      <div class="pb24-px"><!-- partial:logo.hbs --><!-- partial --></div>
      <div class="pb4 pl24-px pr24-px">
        <div>
          Copyright © 2021 PicPay. Todos os direitos reservados.
        </div>
        <div>
          CNPJ nº 22.896.431/0001-10 Av. Manuel Bandeira, 291 - SP
        </div>
      </div>
    </div>
  </td>
</tr>