<tr>
  <td class="w-100 tc">
    <div class="w-100 center bg-color-picpay ptb-1-5">
      <img alt="" border="0" width="auto" alt="picpay-empresas-logo.png"
        src="https://lojapicpayb2b.vteximg.com.br/arquivos/picpay-empresas-logo.png" style="max-height: 80px">
    </div>
  </td>
</tr>

