<!-- for each item in package -->
{{#each items}}
  <!-- print SLA info just one time at the top -->
  {{#compare @index '==' 0}}
    <!-- compare order's items to package items -->
    {{#each ../../../../items}}
      {{#eq id ../itemId}}
          <div class="bg-light-gray ph3 pv2 mw5-5 mv3 fw5">
            {{#compare ../selectedDeliveryChannel "!=" "pickup-in-point"}}
              {{#if ../deliveryWindow}}
                <div class="f7 gray">((i18n.shipping.scheduled))</div>
              {{else}}
                <div class="f7 gray">{{../selectedSla}}</div>
              {{/if}}
            {{/compare}}

            <!-- Scheduled shipping -->
            {{#if ../deliveryWindow}}
              <!-- partial:shipping-estimate-scheduled.hbs --><!-- partial -->
            {{else}}
              <!-- show info for estimate range or date -->
              {{#unless ../shippingEstimateDate}}
                <!-- partial:shipping-estimate-range.hbs --><!-- partial -->
              {{else}}
                <!-- partial:shipping-estimate-date.hbs --><!-- partial -->
              {{/unless}}
            {{/if}}
          </div>
      {{/eq}}
    {{/each}}
  {{/compare}}
  <!-- back to items list -->
{{/each}}

<!-- partial:items.hbs --><!-- partial -->
