<div class="bg-light-gray ph3 pv2 mw5-5 mb3 fw5">
  <div class="f7 gray">{{selectedSla}}</div>
  <!-- Scheduled shipping -->
  {{#if deliveryWindow}}
    ((i18n.shipping.scheduled))
  {{else}}
    <!-- Delivery or Pickup -->
    {{#eq deliveryChannel "pickup-in-point"}}
      ((i18n.shipping.from))
    {{else}}
      ((i18n.shipping.upTo))
    {{/eq}}

    {{formatDate shippingEstimateDate}}
  {{/if}}
</div>
