((i18n.common.lowercase.on))
<div class="f3 mt2 mb1">
  {{formatDate deliveryWindow.startDateUtc}}
</div>
<div class="pb3">
  ((i18n.common.lowercase.between))
  {{formatTime deliveryWindow.startDateUtc}}
  ((i18n.common.lowercase.and))
  {{formatTime deliveryWindow.endDateUtc}}
</div>
