((i18n.common.lowercase.on))
<div class="f3 mt2 mb1">
  {{formatDate deliveryWindow.startDateUtc}}
</div>
<div class="pb3">
  ((i18n.common.lowercase.between))
  {{_formatDateTime deliveryWindow.startDateUtc 'h:mm'}}
  ((i18n.common.lowercase.and))
  {{_formatDateTime deliveryWindow.endDateUtc 'h:mm'}}
</div>
