<div class="pt24-px">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    {{#each totals}}
      {{#if value}}
      <tr>
        <td class="pv1">
          {{#eq id "Items"}}((i18n.common.items)){{/eq}}
          {{#eq id "Shipping"}}((i18n.common.shipping)){{/eq}}
          {{#eq id "Discounts"}}((i18n.common.discounts)){{/eq}}
          {{#eq id "Tax"}}((i18n.common.taxes)){{/eq}}
        </td>
        <td class="pv1 tr">((i18n.common.currency)) {{formatCurrency value}}</td>
      </tr>
      {{/if}}
    {{/each}}
    {{#if value}}
      <tr>
        <td class="pv1 fw5">((i18n.common.total))</td>
        <td class="pv1 fw5 align-right tr">((i18n.common.currency)) {{formatCurrency value}}</td>
      </tr>
    {{/if}}
  </table>
</div>
