{{#eq metadata.language "pt"}}
<p>Você pode acompanhar seu crédito disponível e títulos de cobrança em aberto pelo nosso site.</p>
{{/eq}}
{{#eq metadata.language "en"}}
<p>You can track your available credit and billing invoices through our website.</p>
{{/eq}}
{{#eq metadata.language null}}
<p>You can track your available credit and billing invoices through our website.</p>
{{/eq}}
