<p>
  {{#eq metadata.language "pt"}}Atenciosamente{{/eq}}
  {{#eq metadata.language "en"}}Regards{{/eq}}
  {{#eq metadata.language null}}Regards{{/eq}}
  <br />((i18n.common.team)) {{_accountInfo.TradingName}}
</p>
