{{#eq metadata.language "pt"}}
<p>Se você já fez o pagamento, desconsidere essa mensagem.</p>
{{/eq}}
{{#eq metadata.language "en"}}
<p>If you have already made the payment, disregard this message.</p>
{{/eq}}
{{#eq metadata.language null}}
<p>If you have already made the payment, disregard this message.</p>
{{/eq}}
