/**
 * Grid (objects/_grid.scss)
 */

/* ----- Container ----- */
/**
 * 1. All emails should have a container element. This gives the email a maximum
 *    width for email clients on larger screens. It also orients the email in
 *    the center.
 */
.container {
	/* 1 */
	width: $grid-container-width;
	margin: 0 auto 0 auto;
	background: $color-container-bg;

	@media (max-width: $breakpoint-mobile) {
		width: 100% !important;
	}

	td {
		@media (max-width: $breakpoint-mobile) {
			width: 100% !important;
			display: block;
			box-sizing: border-box;
		}
	}
}

/* ----- Columns ----- */
/**
 * 1. Generate columns. You can find this mixin inside tools/_grid.scss.
 */
@include grid-columns; /* 1 */
