<table class="w-100 mt4" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="green w-20 ph3 relative">
      <!-- partial:line-left.hbs --><!-- partial -->
      <!-- partial:bullet-done.hbs --><!-- partial -->
      <div class="tc">((i18n.status.confirmed))</div>
    </td>
    <td class="gray w-20 ph3 relative">
      <!-- partial:line-center.hbs --><!-- partial -->
      <!-- partial:bullet-current.hbs --><!-- partial -->
      <div class="tc fw5">((i18n.status.paymentCurrent))</div>
    </td>
    <td class="gray w-20 ph3 relative">
      <!-- partial:line-center.hbs --><!-- partial -->
      <!-- partial:bullet-waiting.hbs --><!-- partial -->
      <div class="tc">((i18n.status.handlingWaiting))</div>
    </td>
    <td class="gray w-20 ph3 relative">
      <!-- partial:line-center.hbs --><!-- partial -->
      <!-- partial:bullet-waiting.hbs --><!-- partial -->
      <div class="tc">((i18n.status.deliveryStartWaiting))</div>
    </td>
    <td class="gray w-20 ph3 relative">
      <!-- partial:line-right.hbs --><!-- partial -->
      <!-- partial:bullet-waiting.hbs --><!-- partial -->
      <div class="tc">((i18n.status.deliveryWaiting))</div>
    </td>
  </tr>
</table>
