<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>test</title>

  <!--[if gte mso 9]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->

  <link rel="stylesheet" href="css/embedded.css" data-inline data-embed />
  <link rel="stylesheet" href="css/inlined.css" data-inline />
  <link rel="stylesheet" href="css/tachyons.css" data-inline />
</head>
