<tr>
  <td class="ph4-ns pv3 bt b--light-gray">
    <div class="cb fn">
      <h3 class="ma0 mb2">((i18n.payment.title))</h3>
      <div class="mb1"><strong>{{purchaseSettings.paymentMethod.paymentSystemName}}</strong></div>
      {{#compare purchaseSettings.paymentMethod.paymentSystemGroup '==' 'creditCard'}}
        <div>
          ((i18n.payment.lastDigitsCap)) {{purchaseSettings.paymentMethod.paymentAccount.cardNumber}}
        </div>
      {{/compare}}
    </div>
  </td>
</tr>
