<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs --><!-- partial -->

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0"
          cellspacing="0">

          <!-- Header -->
          <!-- partial:partials/header.hbs --><!-- partial -->

          <!-- Intro message -->

          <!-- partial:partials/messages/intro.hbs --><!-- partial -->

          <!-- Order info -->
          <tr>
            <td class="w-100 pl24-px pb3 fw7 f4">
              <div>Resumo do pedido</div>
            </td>
          </tr>
          {{#each orders}}
          <tr>
            <td class="w-100 pl24-px pr24-px">
              <div class="border-gray-200 pv3 ph3 mb36-px">
                <div class="color-success-500 f5 fw7">((i18n.common.order)) <span class="fw5">#{{orderId}}</span></div>
                <div class="gray-scale-900 pb2">((i18n.package.seller)) <span class="fw7">{{sellers.0.name}}</span>
                </div>

                {{#richShippingData shippingData}}
                {{#group logisticsInfo by="addessId"}}
                <div class="cb fn pt3">
                  <!-- Packages -->
                  {{#group items by="packageId"}}
                  <!-- partial:partials/items.hbs --><!-- partial -->
                  {{#compare item.length '>' 1}}
                  <h3 class="mb2">((i18n.package.title)) {{#math index '+' 1}}{{/math}} </h3>
                  {{/compare}}

                  {{/group}}
                </div>
                {{/group}}
                {{/richShippingData}}
                <!-- partial:partials/totals.hbs --><!-- partial -->
              </div>
            </td>
          </tr>
          {{/each}}
          <tr>
            <td class="w-100 pl24-px pr24-px pb40-px f7">
              <p class="mt0">
                <span class="fw7">Importante:</span> Seu pedido será confirmado pela loja. A confirmação não garante o recebimento de todos os
                itens.
                Consulte os
                prazos de aprovação clicando aqui.
              </p>

              <p>
                Todos os pedidos estão sujeitos à confirmação de disponibilidade e estoque. Em caso de divergência,
                entraremos em
                contato através desse email informado em seu cadastro.
              </p>
              <p>
                Caso a entrega apresente divergências como embalagem aberta ou avariada, falta de acessórios ou produto em
                desacordo
                com
                o solicitado, recuse imediatamente e contate nossa Central de Atendimento.
              </p>   
              <p>
                <span class="fw7">Atenciosamente,</span>
                Equipe PICPAY INSTITUICAO DE PAGAMENTO SA - BR
              </p>
            </td>
          </tr>
          <!-- partial:partials/footer.hbs --><!-- partial -->
        </table>
      </td>
    </tr>
  </table>
</body>

</html>