<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
  <!-- partial:partials/html-head.hbs --><!-- partial -->
	<body>
		<table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
					<table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">

            <!-- Header -->
            <tr>
              <td class="w-100 ph4-ns pb4 bb b--light-gray tc">
                <!-- partial:partials/logo.hbs --><!-- partial -->

                <h1>((i18n.order.titleCancelled))</h1>

                <!-- partial:partials/messages/order-reference.hbs --><!-- partial -->
              </td>
            </tr>

						<tr>
							<td class="w-100 ph4-ns pt2 pb4 bt b--light-gray">
                <!-- partial:partials/totals.hbs --><!-- partial -->

                {{#richShippingData shippingData}}
                  {{#group logisticsInfo by="addessId"}}
                    <div class="cb fn">
                      {{#compare items.length '>' 1}}
                        <h3 class="ma0">((i18n.order.products))</h3>
                      {{else}}
                        <h3 class="ma0">((i18n.order.product))</h3>
                      {{/compare}}

                      {{#group items by="packageId"}}
                        <!-- partial:partials/items.hbs --><!-- partial -->
                      {{/group}}
                    </div>
                  {{/group}}
                {{/richShippingData}}
							</td>
						</tr>

            <tr>
              <td class="ph4-ns pv3 bt b--light-gray">
                <!-- partial:partials/messages/regards.hbs --><!-- partial -->
              </td>
            </tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
