<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:v="urn:schemas-microsoft-com:vml">
<!-- partial:partials/html-head.hbs -->
<!-- partial -->
<style>
  .box {
    max-width: 40rem;
    margin: auto;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid #e3e4e6;
    color: #3f3f40;
  }

  .wrapper-table {
    width: 100%;
    max-width: 40rem;
    margin: auto;
  }

  .content-table {
    width: 100%;
  }

  .logo {
    width: 100%;
  }

  .account {
    color: #727273;
  }

  .logo-container {
    width: 20%;
  }

  .pb7 {
    padding-bottom: 2rem;
  }

  .amount {
    color: #8bc34a;
  }

  .emphasis {
    color: #ed1260;
  }

  .line {
    width: 100%;
    border: none;
    height: 1px;
    margin-bottom: 1rem;
    background-color: #cacbcc;
  }

  .footer-text {
    font-size: 0.75rem;
    color: #727273;
  }

  body {
    font-size: 16px;
  }

  .muted-2 {
    color: #979899;
  }
</style>

<body>
  <table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td align="center" valign="top">
        <table class="wrapper-table">
          <tr>
            <td class="box">
              <table class="content-table">
                <tbody>
                  <tr>
                    <td class="logo-container pb7" colspan="3">
                      <img class="logo" src="http://brand.vtex.com/static/media/VTEX_pink_RGB.751a9fb5.svg" />
                    </td>
                    <td class="tr account pb7" colspan="3">
                      {{account}}
                    </td>
                  </tr>
                  <tr>
                    <td class="pb7" colspan="6">
                      <h1 class="f3 lh-title">Cartão cancelado após 3 tentativas de entrega.</h1>
                    </td>
                  </tr>
                  <tr>
                    <td class="pb7" colspan="6">
                      Houve mais uma tentativa de entrega mal sucedida <span class="fw7 emphasis">
                        dia {{formatDate dateTime}} às {{formatTime dateTime}}</span>.
                        O cartão foi cancelado, não pode mais ser desbloqueado e será descartado.
                    </td>
                  </tr>
                  <tr>
                    <td class="pb7" colspan="6">
                      Você pode socilitar um novo no Admin da VTEX.
                    </td>
                  </tr>
                  <tr>
                    <td class="pb7" colspan="6">
                      Abraços,<br /> Equipe VTEX.
                    </td>
                  </tr>
                  <tr>
                    <td class="pb7" colspan="6">
                      <hr class="line">
                    </td>
                  </tr>
                  <tr>
                    <td class="footer-text pb1" colspan="6">
                      <span>Não responda a esse e-mail, ele é enviado automaticamente pelo sistema.</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="nowrap pb7 footer-text" colspan="2">
                      Precisa de ajuda?
                    </td>
                    <td class="pb7" colspan="4">
                      <a class="ph1 nowrap underline footer-text" target="_blank" href="#">Fale Conosco</a>
                      <a class="ph1 nowrap underline footer-text" target="_blank" href="#">Termos de uso</a>
                      <a class="ph1 nowrap underline footer-text" target="_blank" href="#">Privacidade</a>
                    </td>
                  </tr>
                  <tr>
                    <td class="footer-text">&copy; VTEX</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>