<tr>
  <td class="w-100 pl24-px pr24-px pt40-px pb32-px gray-scale-900">
    <p class="mv0 pb24-px f5 fw7 lh25-px color-success-500">
      Você gostou destes itens, agora vamos levá-lo para seu estabelecimento!
    </p>
    
    <!-- partial:hi-abandoned-cart.hbs --><!-- partial -->

    <p class="mv0 pb12-px f6 fw4">
      Tudo bem? Esperamos que sim!
    </p>
    <p class="mv0 f6 fw4">
      Viemos te avisar que os itens que você guardou para depois estão te esperando no carrinho de compras!
    </p>
  </td>
</tr>