<tr>
  <td class="w-100 pl24-px pr24-px pb4">
    <div>
      <div class="f24-px fw7 gray-scale-900 pv40-px">
        Recebemos o seu pedido
      </div>
      <div class="pv12-px pb24-px color-success-500 f5 fw6">
        Agradecemos pela sua compra!
      </div>
    </div>
    <!-- partial:hi.hbs --><!-- partial -->
    <div class="pb12-px">
      Tudo bem? Esperamos que sim!
    </div>

    <div class="pb12-px">
      Seu pedido foi realizado e estamos aguardando a confirmação do fornecedor
      para prosseguirmos com a entrega.
    </div>

    <div class="pb12-px">
      Fique tranquilo, pois informaremos por e-mail todas as etapas do andamento
      do seu pedido!
    </div>
  </td>
</tr>