<tr>
  <td class="w-100 pl24-px pr24-px pb40-px f7 gray-scale-900">
    <p class="ma0">
      <span class="fw7">Importante:</span> Seu pedido será confirmado pela loja. A confirmação não garante o
      recebimento de todos os
      itens.
      Consulte os
      prazos de aprovação clicando aqui.
    </p>
    <br>
    <p class="ma0">
      Todos os pedidos estão sujeitos à confirmação de disponibilidade e estoque. Em caso de divergência,
      entraremos em
      contato através desse email informado em seu cadastro.
    </p>
    <br>
    <p class="ma0">
      Caso a entrega apresente divergências como embalagem aberta ou avariada, falta de acessórios ou produto
      em
      desacordo
      com
      o solicitado, recuse imediatamente e contate nossa Central de Atendimento.
    </p>
    <br>
    <p class="ma0">
      <span class="fw7">Atenciosamente,</span><br>
      Equipe PICPAY INSTITUICAO DE PAGAMENTO SA - BR
    </p>
  </td>
</tr>