/**
 * Variables (_variables.scss)
 */

/* ----- Colors ----- */
// General
$color-white: #ffffff !default;
$color-dark: #2c3e50 !default;
$color-red: #e74c3c !default;
$color-green: #2ecc71 !default;
$color-blue: #3498db !default;

// Grid
$color-container-bg: $color-white !default;

/* ----- Generic ----- */
// General
$email-bg-color: #EEEEEE !default;

// Font sizes
$font-size-base: 14px !default;
$font-size-h1: 24px !default;
$font-size-h2: 24px !default;
$font-size-h3: 20px !default;
$font-size-h4: 16px !default;
$font-size-h5: 16px !default;
$font-size-h6: 12px !default;

// Line heights
$line-height-base: 32px !default;
$line-height-h1: 32px !default;
$line-height-h2: 24px !default;
$line-height-h3: 36px !default;
$line-height-h4: 29px !default;
$line-height-h5: 23px !default;
$line-height-h6: 20px !default;

/* ----- Objects ----- */
// Grid
$grid-columns: 12 !default;
$grid-container-width: 600px !default;
$grid-column-width: $grid-container-width / $grid-columns !default;
$grid-gutter: 12px !default;

/* ----- Components ----- */
// Buttons
$button-bg-color: #bbbbbb !default;

/* ----- RWD breakpoints ----- */
$breakpoint-mobile: $grid-container-width !default;
