// ! TACHYONS v4.9.0 | http://tachyons.io

//
//
//      ________            ______
//      ___  __/_____ _________  /______  ______________________
//      __  /  _  __ `/  ___/_  __ \_  / / /  __ \_  __ \_  ___/
//      _  /   / /_/ // /__ _  / / /  /_/ // /_/ /  / / /(__  )
//      /_/    \__,_/ \___/ /_/ /_/_\__, / \____//_/ /_//____/
//                                 /____/
//
//    TABLE OF CONTENTS
//
//    1. External Library Includes
//       - Normalize.css | http://normalize.css.github.io
//    2. Tachyons Modules
//    3. Variables
//       - Media Queries
//       - Colors
//    4. Debugging
//       - Debug all
//       - Debug children
//
//


 //  External Library Includes
 // @import '../../node_modules/tachyons-sass/scss/normalize';


//  Variables
//  Importing here will allow you to override any variables in the modules

@import '../../node_modules/tachyons-sass/scss/variables';

//  Debugging
// @import '../../node_modules/tachyons-sass/scss/debug-children';
// @import '../../node_modules/tachyons-sass/scss/debug-grid';

//  Uncomment out the line below to help debug layout issues
//  @import '../../node_modules/tachyons-sass/scss/debug';

 //  Modules
 @import '../../node_modules/tachyons-sass/scss/box-sizing';
 // @import '../../node_modules/tachyons-sass/scss/aspect-ratios';
 @import '../../node_modules/tachyons-sass/scss/images';
 // @import '../../node_modules/tachyons-sass/scss/background-size';
 // @import '../../node_modules/tachyons-sass/scss/background-position';
 // @import '../../node_modules/tachyons-sass/scss/outlines';
 @import '../../node_modules/tachyons-sass/scss/borders';
 @import '../../node_modules/tachyons-sass/scss/border-colors';
 @import '../../node_modules/tachyons-sass/scss/border-radius';
 @import '../../node_modules/tachyons-sass/scss/border-style';
 @import '../../node_modules/tachyons-sass/scss/border-widths';
 @import '../../node_modules/tachyons-sass/scss/box-shadow';
 // @import '../../node_modules/tachyons-sass/scss/code';
 // @import '../../node_modules/tachyons-sass/scss/coordinates';
 @import '../../node_modules/tachyons-sass/scss/clears';
 @import '../../node_modules/tachyons-sass/scss/display';
 @import '../../node_modules/tachyons-sass/scss/flexbox';
 @import '../../node_modules/tachyons-sass/scss/floats';
 @import '../../node_modules/tachyons-sass/scss/font-family';
 @import '../../node_modules/tachyons-sass/scss/font-style';
 @import '../../node_modules/tachyons-sass/scss/font-weight';
 @import '../../node_modules/tachyons-sass/scss/forms';
 // @import '../../node_modules/tachyons-sass/scss/heights';
 @import '../../node_modules/tachyons-sass/scss/letter-spacing';
 @import '../../node_modules/tachyons-sass/scss/line-height';
 @import '../../node_modules/tachyons-sass/scss/links';
 @import '../../node_modules/tachyons-sass/scss/lists';
 @import '../../node_modules/tachyons-sass/scss/max-widths';
 @import '../../node_modules/tachyons-sass/scss/widths';
 // @import '../../node_modules/tachyons-sass/scss/overflow';
 // @import '../../node_modules/tachyons-sass/scss/position';
 // @import '../../node_modules/tachyons-sass/scss/opacity';
 // @import '../../node_modules/tachyons-sass/scss/rotations';
 @import '../../node_modules/tachyons-sass/scss/skins';
 // @import '../../node_modules/tachyons-sass/scss/skins-pseudo';
 @import '../../node_modules/tachyons-sass/scss/spacing';
 // @import '../../node_modules/tachyons-sass/scss/negative-margins';
 @import '../../node_modules/tachyons-sass/scss/tables';
 @import '../../node_modules/tachyons-sass/scss/text-decoration';
 @import '../../node_modules/tachyons-sass/scss/text-align';
 @import '../../node_modules/tachyons-sass/scss/text-transform';
 @import '../../node_modules/tachyons-sass/scss/type-scale';
 // @import '../../node_modules/tachyons-sass/scss/typography';
 @import '../../node_modules/tachyons-sass/scss/utilities';
 // @import '../../node_modules/tachyons-sass/scss/visibility';
 @import '../../node_modules/tachyons-sass/scss/white-space';
 @import '../../node_modules/tachyons-sass/scss/vertical-align';
 // @import '../../node_modules/tachyons-sass/scss/hovers';
 // @import '../../node_modules/tachyons-sass/scss/z-index';
 // @import '../../node_modules/tachyons-sass/scss/nested';
 // @import '../../node_modules/tachyons-sass/scss/styles';
