/**
 * Buttons (components/_buttons.scss)
 */

/* ----- General ----- */

.container-button {
	display: block;
	width: 100%;
	margin-bottom: $size-32px;

	.btn {
		display: block;
		margin: auto;
		width: fit-content;
		height: $size-48px;
		padding: $size-4px $size-24px;
		text-decoration: none;
		border-radius: $border-radius-150;
		
		cursor: pointer;
	
		span {
			font-weight: 700;
			display: inline-block;
			padding-top: $size-8px;
			font-size: $size-16px;
			line-height: $line-height-21px-body;
			text-align: center;
		}
	}
	
	.btn-green {
		background: $color-success-500;
		color: $color-white;
	}
}