/**
 * Grid (tools/_grid.scss)
 */

/* ----- Columns ----- */
/**
 * 1. Generate classes for columns with gutter.
 * 2. Generate classes with width.
 * 3. Generate .first and .last classes.
 * 4. Generate classes for columns without gutter.
 */
@mixin grid-columns {
	%padding-styles {
		/* 1 */
		padding-left: $grid-gutter;
		padding-right: $grid-gutter;
	}

	@for $i from 1 through $grid-columns {
		/* 1 */
		.column-#{$i} {
			@extend %padding-styles;
		}
	}

	@for $i from 1 through $grid-columns {
		/* 2 */
		.column-#{$i} {
			width: $grid-column-width * $i;
		}
	}

	%first-column-styles {
		/* 3 */
		padding-left: $grid-gutter * 2;

		@media (max-width: $breakpoint-mobile) {
			padding-left: $grid-gutter !important;
		}
	}

	%last-column-styles {
		/* 3 */
		padding-right: $grid-gutter * 2;

		@media (max-width: $breakpoint-mobile) {
			padding-right: $grid-gutter !important;
		}
	}

	@for $i from 1 through $grid-columns {
		/* 3 */
		.column-#{$i}.first {
			@extend %first-column-styles;
		}

		.column-#{$i}.last {
			@extend %last-column-styles;
		}
	}

	%no-padding-styles {
		/* 4 */
		padding-left: 0;
		padding-right: 0;
	}

	@for $i from 1 through $grid-columns {
		/* 4 */
		.no-gutter .column-#{$i} {
			@extend %no-padding-styles;
		}
	}
}
